@import "./variables";

@import "./components/searchBar";
@import "./components/cryptoDetails";
@import "./components/chart";

// Variables globales
$primary-color: #3b82f6;
$background-color: #f9fafb;

// Styles globaux
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: $background-color;
  color: #333;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}